body {
}
.favicon {
	margin: 0 5px 0 0;
}
.sbm_icon {
	margin: 0 3px;
}
.sbm_count {
	font-size: 0.7em;
	margin: 0 0 0 5px;
	padding: 3px 0 3px 8px;
	color: #2b2e3f;
}
.service {
	margin: 0 5px;
	min-width: 50px;
	position: relative;
}
.count {
	margin: 0 0 0 17px;
	color: #fff;
	font-weight: bold;
	padding: 0px 5px;
}
.count a:link, .count a:active, .count a:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.hatena, .like, .tweet {
}
img.icon, img.loading {
	margin: 0 2px 0 0;
	position: absolute;
	bottom: 0;
}
.comments {
	font-size: 0.7em;
	margin: 0 0 0 5px;
	padding: 3px 0 3px 8px;
	color: #2b2e3f;
	max-height: 300px;
	max-width: 500px;
	border: solid 1px #DDD;
	overflow-y:auto;
	overflow-x: hidden;
}
