*{
	margin: 0;
	padding: 0;
	font-family:'ﾃθ津�凖�ﾃ｢竄ｬ邃｢ﾃθ津｢竄ｬﾅ｡ﾃ�堙つ｣ﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃつﾃθ津つ｢ﾃδ｢ﾃ｢竄ｬﾅ｡ﾃつｬﾃδ｢ﾃ｢竄ｬﾅｾﾃつ｢ﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つ｡ﾃθ津�凖�ﾃ｢竄ｬ邃｢ﾃθ津｢竄ｬﾅ｡ﾃ�堙つ｣ﾃθ津�凖�堙つ｢ﾃθ津つ｢ﾃδ｢ﾃ｢窶堋ｬﾃ�｡ﾃ�堙つｬﾃθ津｢竄ｬﾂｦﾃ�堙つ｡ﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つ､ﾃθ津�凖�ﾃ｢竄ｬ邃｢ﾃθ津｢竄ｬﾅ｡ﾃ�堙つ｣ﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃつﾃθ津つ｢ﾃδ｢ﾃ｢竄ｬﾅ｡ﾃつｬﾃδ｢ﾃ｢竄ｬﾅｾﾃつ｢ﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｪﾃθ津�凖�ﾃ｢竄ｬ邃｢ﾃθ津｢竄ｬﾅ｡ﾃ�堙つ｣ﾃθ津�凖�堙つ｢ﾃθ津つ｢ﾃδ｢ﾃ｢窶堋ｬﾃ�｡ﾃ�堙つｬﾃθ津｢竄ｬﾂｦﾃ�堙つ｡ﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｪ',Meiryo,'ﾃθ津�凖�ﾃ｢竄ｬ邃｢ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｯﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｼﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｭﾃθ津�凖�ﾃ｢竄ｬ邃｢ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｯﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｼﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｳ ﾃθ津�凖�ﾃ｢竄ｬ邃｢ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｯﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｼﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｰﾃθ津�凖�ﾃ｢竄ｬ邃｢ﾃθ津｢竄ｬﾅ｡ﾃ�堙つ｣ﾃθ津�凖�堙つ｢ﾃθ津つ｢ﾃδ｢ﾃ｢窶堋ｬﾃ�｡ﾃ�堙つｬﾃθ津｢竄ｬﾂｦﾃ�堙つ｡ﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｴﾃθ津�凖�ﾃ｢竄ｬ邃｢ﾃθ津｢竄ｬﾅ｡ﾃ�堙つ｣ﾃθ津�凖�堙つ｢ﾃθ津つ｢ﾃδ｢ﾃ｢窶堋ｬﾃ�｡ﾃ�堙つｬﾃθ津｢竄ｬﾂｦﾃ�堙つ｡ﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｷﾃθ津�凖�ﾃ｢竄ｬ邃｢ﾃθ津｢竄ｬﾅ｡ﾃ�堙つ｣ﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃつﾃθ津つ｢ﾃδ｢ﾃ｢竄ｬﾅ｡ﾃつｬﾃδ｢ﾃ｢竄ｬﾅｾﾃつ｢ﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃつﾃθ津つ｢ﾃδ｢ﾃ｢竄ｬﾅ｡ﾃつｬﾃδ｢ﾃ｢竄ｬﾅｾﾃつ｢ﾃθ津�凖�ﾃ｢竄ｬ邃｢ﾃθ津｢竄ｬﾅ｡ﾃ�堙つ｣ﾃθ津�凖�堙つ｢ﾃθ津つ｢ﾃδ｢ﾃ｢窶堋ｬﾃ�｡ﾃ�堙つｬﾃθ津｢竄ｬﾂｦﾃ�堙つ｡ﾃθ津�凖δ｢ﾃ｢窶堋ｬﾃ�｡ﾃθ津｢竄ｬﾅ｡ﾃ�堙つｯ',sans-serif;
	font-size: 0.95em;
}
body {
	min-width: 100px;
	min-height: 100px;
}
#container{
	display: box;
	margin:10px 5px;
}
#hatena {

}
#facebook {

}
#twitter {

}
.icon{
	padding: 5px;
	position: relative;
	top: 7px;
	width: 15px;
	
}
.counter {
	margin-left: 5px;
	padding: 1px 5px;
	color: #fff;
}
a.link {
	text-decoration: none;
}